<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>WP lab - Confirmation Info</title>
  <style balloonType="text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }
  </style>
</head>
<body>
<section>
  <header>
    <h1>Balloon Order page - Order confirmation </h1>
  </header>

  <table>

      <tr>
        <th colspan="2">
          Your Order Status
        </th>
      </tr>
      <tr>
        <td><b>Client Name </b></td>
        <td th:text="${session.username}" th:name="clientName" th:value="${session.clientName}"></td>
      </tr>
      <tr>
        <td><b>Client Address </b></td>
        <td th:text="${session.clientAddress}" th:name="clientAddress" th:value="${session.clientAddress}"></td>
      </tr>
      <tr>
        <td><b>Client IP Address</b></td>
        <td th:text="${session.ip}" ></td>
      </tr>
      <tr>
        <td><b>Client Browser</b></td>
        <td th:text="${session.userAgent}"></td>
      </tr>
      <tr>
        <td><b>Balloon Color </b></td>
        <td th:text="${session.option}" th:name="balloonColor" th:value="${session.balloonColor}"></td>
      </tr>
      <tr>
        <td><b>Balloon Size </b></td>
        <td th:text="${session.size}" th:name="balloonSize" th:value="${session.balloonSize}"></td>
      </tr>
      <tr>
        <td>
            Choose a date: <input type="datetime-local" name="date"/>

        </td>
      </tr>

  </table>
<div>
  <a href="/balloons/userOrders">See all user orders</a>
</div>
  <div>
    <a href="/logout">Log out</a>
  </div>



</section>
</body>
</html>