<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ListBalloons</title>
  <style>

  </style>
</head>
<body>
<header>
  <h1>Welcome to our Balloon Shop App</h1>
</header>
<form th:method="POST" th:action="@{/balloons}">
  <th:block th:each="balloons : ${balloons}">
    <th:block sec:authorize="hasRole('ADMIN')"><a th:href="@{'balloons/edit-form/{id}' (id=${balloons.getId()})}" class="edit_balloon">Edit</a></th:block>
    <th:block sec:authorize="hasRole('ADMIN')"> <a th:href="@{'balloons/delete/{id}'(id=${balloons.getId()})}" class="delete_balloon">Delete</a></th:block>
    <input type="radio" name="color" th:value="${balloons.getName()}" th:text="${balloons.getName()}" class="balloon"/>
    </br>
  </th:block>
  <input type="submit" value="Submit" id="submit">
</form>



<th:block sec:authorize="hasRole('ADMIN')"> <a href="/balloons/add-balloon">Add new balloon</a></th:block>
</body>
</html>
</th:block>